<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .container {
        background-color: #9be15d;
        box-shadow: 0 3rem 8rem 2rem rgba(0, 0, 0, 0);
        font-size: 2rem;
        font-weight: 900;
      }

      div > ul {
        display: flex;
        list-style: none;
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      li {
        padding: 2rem;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <ul>
        <li>
          <a href="/home" style="text-decoration: none"> Home </a>
        </li>
        <li>
          <a href="/about" style="text-decoration: none"> About </a>
        </li>
        <li>
          <a href="/adduser" style="text-decoration: none"> AddUser </a>
        </li>
      </ul>
    </div>
  </body>
</html>
